<h1>ようこそ！</h1>
<% if @message %>
  <p><%= @message %></p>
<% end %>

<div class="top-container">
  <%= image_tag 'top_image.jpg', alt: 'トップイメージ', class: 'top-image' %>

  <hr class="separator">

  <h1><%= t('.title') %></h1>

  <div class="auth-buttons">
    <%= link_to t('.login'), new_user_session_path, class: 'login-button' %>
    <%= link_to t('.sign_up'), new_user_registration_path, class: 'signup-button' %>
  </div>

  <%= link_to t('.try_it'), '#', class: 'try-button' %>

  <%= link_to t('.about_app'), about_path, class: 'about-button' %>
  <%= link_to 'ログイン', login_path %>
</div>

<div class="explanation-container">
  <h2><%= t('.what_is_app') %></h2>
  <p><%= t('.explanation_text') %></p>
  </div>