<div class="top-container">
  <hr class="separator">

  <h1><%= t('mental_manage_diary') %></h1>
  <%= image_tag 'top_image.jpg', alt: 'トップイメージ', class: 'top-image' %>

  <!-- 4つのボタンを1つのボックスで囲む -->
  <div class="button-group">
    <%= link_to t('.login'), new_user_session_path, class: 'login-button' %>
    <%= link_to t('.sign_up'), new_user_registration_path, class: 'signup-button' %>
    <%= link_to t('.try_it'), '#', class: 'try-button' %>
    <%= link_to t('.explanation_app'), explanation_path, class: 'explanation-button' %>
  </div>
</div>