<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %> <%# ヘッダーのパーシャルをレンダリング %>

  <title><%= yield(:title) || "MentalManageDiary" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
<body>

  
  <div class="container">
    <%= yield %> <%# 各ビューの内容がここに表示される %>
  </div>
  

</body>
  <%= render 'layouts/footer' %> <%# フッターのパーシャルをレンダリング %>
</html>
